* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/sfondo.jpg);
	background-size: cover;
}

/* main */
.conteiner {
	width: 960px;
	margin-top: 150px;
	margin-left: 30px;
}

/* section */
.row {
	margin-bottom: 10px;
}

.box {
	display: inline-block;
	position: relative;
}

.sconto {
	position: absolute;
	top: 0;
	right: 0;
	background-color: green;
}

.box:nth-child(even) .sconto {
	background: red;
}

.heart {
	display: none;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: #b9db56;
}

.box:hover .heart {
	display: block;
}
